nav{
  width:100vw;
  height:300px;
  background-color:darkblue;
  background-image: url('https://media.istockphoto.com/illustrations/silhouette-of-modern-city-skyscrapers-skyline-at-night-illustration-id671031532?k=6&m=671031532&s=612x612&w=0&h=LFTaLCNKnmgTIgeoGTHuJsgDXuSrWaOUNDtCSrjSucM=');

}

ul.navbar{
  margin:0;
  padding:2vh;
  display:flex;
}

li.navbar{
  list-style-type:none;
  margin: 2vh 2vw;
  font-size:20px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}



h1{
  font-size:40px;
  text-align:center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color:#fff;
  animation: border-flicker 5s linear infinite;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fe019a, 0 0 20px #fe019a, 0 0 25px #fe019a, 0 0 30px #fe019a, 0 0 35px #fe019a;
}

h2{
color:white;
  background-color: white;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 2em;
text-transform: uppercase;
text-align:center;
list-style-type:none;
margin: 2vh 2vw;
font-size:20px;
text-shadow: 0 0 2px #fff, 0 0 3px #fff, 0 0 4px #b4e600, 0 0 5px #b4e600, 0 0 6px #b4e600, 0 0 7px #b4e600, 0 0 10px #b4e600;
}

h3{
font-family: clipneon;
white-space: normal;
font-size: 1.8em;
line-height: 0em;
color:white;
}



p{
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
  margin:2%
}

a.nav{
  text-decoration:none;
  color:white;
  padding:2vh;
  font-family: monospace;
}

a{
text-decoration: none;
color:white;
}

a:hover{
  opacity:0.7;
}


html,
body {
margin: 0;
padding: 0;
width: 100%;
display: table;
background: linear-gradient(180deg, black 40%, #2d174d 50%, #613e55 55%, #96645d 60%, #ca8b65 65%, #ffb16d 70%);
}

/***********************************************************************************************************/
/***********************************************************************************************************/
/*KT LLAMA NEON FONT*/
/***********************************************************************************************************/
/***********************************************************************************************************/
@font-face {
  font-family: clipneon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/clip.ttf);
}

.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.neon {
  font-family: clipneon;
  color: #FB4264;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #F40A35;
}

.flux {
  font-family: clipneon;
  color: #426DFB;
  font-size: 9vw;
  line-height: 9vw;
  text-shadow: 0 0 3vw #2356FF;
  text-align:center;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.flux {
  animation: flux 2s linear infinite;
  -moz-animation: flux 2s linear infinite;
  -webkit-animation: flux 2s linear infinite;
  -o-animation: flux 2s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

/***********************************************************************************************************/
/***********************************************************************************************************/
/************** skills********************/

#skills{
  font-size:1em;
  color:#fff;
  animation: border-flicker 5s linear infinite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.threecolumn{
  display:inline-block;
  padding:1%;
  margin-left:5%;
  width:25%;
  color:white;
  text-transform: uppercase;
}

.leftside{
  display:inline-block;
  width:55%;
  padding:2%;
  Margin-left:3%;
}


.stickyright{
   position: -webkit-sticky; /* for safari */
   position: sticky;
   width: 30%;
  margin-top:20px;
   float: right;
  top:20%;
  right:5%;
  
}

@media only screen and (max-device-width: 480px) {
  .leftside{
    display:inline-block;
  width:95%;
  padding:2%;
  Margin-left:3%;
  margin-right:3%;
  }
li.nav{
  display:none;
    }
ul.nav{
  display:none;
    }
a.nav{
  display:none;}
  
.stickyright{
  position: relative;
  display:inline-block;
  margin-left:5%;
  margin-right:5%;
  width:90%;
}
}

@media only screen and (max-width: 768px) {
  .leftside{
    display:inline-block;
  width:95%;
  padding:2%;
  Margin-left:3%;
  margin-right:3%;
  }
li.nav{
  display:none;
    }
ul.nav{
  display:none;
    }
a.nav{
  display:none;}
    
.stickyright{
  position: relative;
  display:inline-block;
  margin-left:5%;
  margin-right:5%;
  width:90%;
}
}

.box{
  border:2px solid white;
  border-radius: 33px;
  display:inline-block;
  padding:2%;
  margin:0%;
  width:98%;
  color:white;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.webbox{
  font-family: clipneon;
  border: 3px dashed darksalmon;
  color:white;
  border-radius: 30px;
  padding:2%;
  display:inline-block;
  font-size:1em;
  width:25%;
  margin-left:2%;
  text-align: center;
}
img footer{
width:100vh;
}

svg {
  flex: 1 1 auto;
  max-width: 90vw;
  text-align:center;
  margin-left:30%;
}
